
build-Potato3dExample-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_64bit-Debug/

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_32bit-Release/

*.user

Potato3dGBAExample/build/

Potato3dGBAExample/Potato3dGBAExample.sav

Potato3dGBAExample/Potato3dGBAExample.elf

Potato3dGBAExample/Potato3dGBAExample.gba

build-Potato3dGBAExample-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/

Potato3dExample/models/GE_Facility/

Potato3dExample/models/model.cpp

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_32bit-Debug/

Potato3dExample/models/

~$P3DFps.xlsx

build-Potato3dExample-Desktop_Qt_5_15_1_MSVC2019_64bit-Release/

build-Potato3dExample-Desktop_Qt_5_15_1_MSVC2019_64bit-Debug/
