
build-Potato3dExample-Desktop_Qt_5_14_2_MinGW_32_bit-Debug/

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_64bit-Debug/

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_32bit-Release/

*.user

Potato3dGBAExample/build/

Potato3dGBAExample/Potato3dGBAExample.sav


build-Potato3dGBAExample-Desktop_Qt_5_14_2_MSVC2017_64bit-Release/

Potato3dExample/models/GE_Facility/

Potato3dExample/models/model.cpp

build-Potato3dExample-Desktop_Qt_5_14_2_MSVC2017_32bit-Debug/

Potato3dExample/models/

~$P3DFps.xlsx

build-Potato3dExample-Desktop_Qt_5_15_1_MSVC2019_64bit-Release/

build-Potato3dExample-Desktop_Qt_5_15_1_MSVC2019_64bit-Debug/

build-Potato3dExample-Desktop_Qt_5_15_1_MSVC2019_32bit-Release/

build-Potato3dExample-Desktop_Qt_5_15_2_MSVC2019_32bit-Debug/

build-Potato3dExample-Desktop_Qt_5_15_2_MSVC2019_32bit-Release/

build-Potato3dExample-Desktop_Qt_5_15_2_MSVC2019_64bit-Debug/

build-Potato3dExample-Desktop_Qt_5_15_2_MinGW_32_bit-Debug/

build-Potato3dExample-Desktop_Qt_6_3_0_MSVC2019_64bit-Debug/

build-Potato3dExample-Desktop_Qt_6_4_0_MSVC2019_64bit-Debug/

build-Potato3dExample-Desktop_Qt_6_4_0_MSVC2019_64bit-Release/

Potato3dGBAExample/.qtc_clangd/

build-P3DBenchmark-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/

build-P3DBenchmark-Desktop_Qt_6_4_2_MSVC2019_64bit-Debug/

build-Potato3dGBAExample-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/

build-Potato3dGBAExample-Desktop_Qt_6_4_2_MinGW_64_bit-GBA/

build-Potato3dGBAExample-Desktop_Qt_6_4_2_MSVC2019_64bit-Debug/

P3DBenchmark/.qtc_clangd/

P3DBenchmark/build/

build-P3DBenchmark-Desktop_Qt_6_4_2_MinGW_64_bit-GBA/

build-P3DBenchmark-Desktop_Qt_6_4_2_MinGW_64_bit-Release/

build-P3DBenchmark-Desktop_Qt_6_4_2_MSVC2019_64bit-Release/

build-Potato3dExample-Desktop_Qt_6_4_2_MinGW_64_bit-Debug/

P3DBenchmark/~$Performance.xlsx

build-Potato3dExample-Desktop_Qt_6_4_2_MinGW_64_bit-Release/

build-Potato3dExample-Desktop_Qt_6_4_2_MSVC2019_64bit-Debug/
